@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <p>
            Please check your email to reset your password.
        </p>
        <a asp-area="" asp-action="Index" asp-controller="Home" class="btn btn-info float-md-right"> Back </a>
    </div>
</div>
