@model ICollection<LzLeague.Common.AdminBindingModels.GroupBindingModel>
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top: 20px; margin-bottom: 20px">
    <div class=" col-lg-7 col-md-6 col-xs-2 offset-md-1">
        <h2>@ViewData["Title"]</h2>
        <div id="success-msg-teams" class="alert alert-success" style="display: none">
        </div>
        <div id="warning-msg-teams" class="alert alert-danger" style="display: none">
        </div>
        <hr />
        @Html.DisplayFor(model => model)
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-2 offset-md-1 offset-lg-0">
            <div class="card">
                <div class="card-header admin-header d-flex justify-content-center">
                    <h5><b>Actions</b></h5>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <a class="btn btn-success" asp-area="Admin" asp-controller="Teams" asp-action="Add">Add New Team</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-3 offset-md-8 offset-lg-9">
        <button id="go-top-btn" class="btn btn-info">
            <i class="fas fa-chevron-circle-up"></i>
        </button>
    </div>
</div>

@section Scripts
{
    <script>
        let successMsg = '@TempData["SuccessMsg"]';
        let warningMsg = '@TempData["WarningMsg"]';

        displayMsg(successMsg, 'success-msg-teams');
        displayMsg(warningMsg, 'warning-msg-teams');

        $('#go-top-btn').click(function() {
            $(document).scrollTop(0);
        });
    </script>
}
