@model ICollection<LzLeague.Common.PredictionsBindingModels.UserStandingBindingModel>
@{
    ViewData["Title"] = "Standings";
}

<div class="row" style="margin-top: 2em">
    <div class="col-md-10 offset-md-1">
        <h2>@ViewData["Title"]</h2>
        <div class="table-responsive">
            <table id="table-standings" class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Results</th>
                    <th>Scores</th>
                    <th>Gr. Winners</th>
                    <th>Gr. Sp</th>
                    <th>Gr. Elq</th>
                    <th>Total</th>
                </tr>
                @Html.DisplayFor(model => model)
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('table').find('td[name="index-col"]').each(function(index, element) {
                $(element).text(++index);
            });
        });
    </script>
}