@model LzLeague.Common.PredictionsBindingModels.PredictionBindingModel
@{
    ViewData["Title"] = "View Prediction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 2em">
    <div class="col-md-10 offset-md-1">
        <h4 style="color: #6c757d; font-weight: bold;"><em>@TempData["FullName"]'s Prediction</em></h4>
        <a class="btn btn-info" asp-area="" asp-controller="Predictions" asp-action="UsersStandings">Standings</a>
        <hr />
        @{
            var matchDays = Model.MatchesResults
                .Select(x => x.Match.Date)
                .Distinct()
                .ToList();

            var countForDay = 8; // 8
            var start = 0;
            var end = countForDay;

            <div id="match-results">
                @for (int i = 0; i < matchDays.Count(); i++)
                {

                    <div class="card shadow-lg" style="margin-top: 40px">
                        <div class="card-header">
                            <h5>@matchDays[i].Value.ToString("dd/MM/yyyy")</h5>
                        </div>
                        @for (int j = start; j < end; j++)
                        {
                            <div class="card-body">
                                @Html.DisplayFor(m => Model.MatchesResults[j])
                            </div>
                        }
                    </div>
                    start += countForDay;
                    end += countForDay;
                }
            </div>
        }
    </div>
</div>
<div class="row page-content">
    <div class="col-md-10 offset-md-1">
        <div class="card shadow-lg">
            <div class="card-header">
                <h5>Groups Winners</h5>
            </div>
            <div class="card-body" id="groups-winners">
                @Html.DisplayFor(model => model.GroupWinners)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#match-results')
                .find('input')
                .each(function(index, element) {
                    $(element).prop('disabled', 'disabled');
                });

            $('#match-results')
                .find('select')
                .each(function (index, element) {
                    $(element).prop('disabled', 'disabled');
                });

            $('#groups-winners')
                .find('select')
                .each(function(index, element) {
                    $(element).prop('disabled', 'disabled');
                });
        });
    </script>
}
