@model LzLeague.Common.AdminBindingModels.UserBindingModel

<tr>
    <td name="index-col-users" style="font-weight: bold"></td>
    <td style="color: green; font-weight: bold">@Model.FullName</td>
    <td>@Model.Email</td>
    <td>
        @if (Model.PredictionId != null)
        {
            <a asp-area="Admin"
               asp-controller="Users"
               asp-action="EditPrediction"
               asp-route-predictionId="@Model.PredictionId" class="btn btn-warning">
                Prediction
            </a>
        }
        else
        {
            <p>No Prediction</p>
        }
    </td>
</tr>