@model LzLeague.Common.AdminBindingModels.ArticleBindingModel
@{
    ViewData["Title"] = "Edit Article";
}

<div class="row" style="margin-top: 2em">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-lg bg-white rounded">
            <div class="card-header admin-header">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form asp-area="" asp-controller="Articles" asp-action="Edit" method="post">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <b><label asp-for="Title"></label></b>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b><label asp-for="Content"></label></b>
                        <textarea asp-for="Content" name="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b><label asp-for="CoverUrl"></label></b>
                        <input asp-for="CoverUrl" class="form-control" />
                        <span asp-validation-for="CoverUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning float-md-right">Edit Article</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
