
@{
    ViewData["Title"] = "Error";
}

<div class="row" style="margin-bottom: 10px">
    <div class="col-md-8 offset-md-1">
        <h3>Ooops, something went wrong, please reload the page, or contact admin.</h3>
    </div>
</div>

