@model ICollection<LzLeague.Common.AdminBindingModels.ArticleBindingModel>
@{
    ViewData["Title"] = "Home Page";
    int index = 1;
}

<div class="row" style="margin-top: 2em">
    <div class="col-md-10 offset-md-1">
        @{
            foreach (var article in Model)
            {
                if (index == 1)
                {
                    @:<div class="row">
                }
                <div class="col-md-4" id="home-article">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <a asp-area="" asp-controller="Articles" asp-action="Read" asp-route-articleId="@article.Id" style="text-decoration: none">
                                <img class="card-img" src="@(article.CoverUrl ?? "https://img.uefa.com/imgml/uefacom/ucl/social/og-default.jpg")" />
                            </a>
                        </div>
                        <div class="card-body">
                            <a asp-area="" asp-controller="Articles" asp-action="Read" asp-route-articleId="@article.Id" style="text-decoration: none; color:white">
                                <h5 class="card-title">@article.Title</h5>
                            </a>
                        </div>
                    </div>
                </div>
                if (index % 3 == 0)
                {
                    @:</div><br/><div class="row">
                        
                }
                index++;

            }
        }
        @if (index < 3)
        {
            @:</div>
        }
    </div>
</div>
