@{
    ViewData["Title"] = "Game Rules";
}

<div class="row" style="margin-top: 10px">
    <div class="col-md-8 col-xs-4 offset-md-1">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <ol style="font-weight: bold; font-style: italic">
            <li> Each player can register only once!</li>
            <li> Last chance to register is 2 days before matchday one!</li>
            <li> Admins reserve the right to refuse access to the game to suspicious players.</li>
        </ol>
    </div>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-8 col-xs-4 offset-md-1">
        <h2>Ranking System</h2>
        <hr/>
        <ul>
            <li>Guessed Score - 5 points</li>
            <li>Guessed Result - 2 points</li>
            <li>Guessed Group Winner - 7 points</li>
            <li>Guessed Group Second Place - 5 points</li>
            <li>Guessed Group Europa League Qualifier - 3 points</li>
        </ul>
    </div>
</div>

